
body {
  font-size: 20px;
}
.App {
  text-align: center;
}

.App-header {
  background-color: cornflowerblue;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.calculator-main {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-content: space-between;
}

input[type="text"] {
  max-width: 2em;
  font-size: 1em;
}

input.large {
  max-width: 5em;
}

button {
  font-size: 1em;
}

.row {
  flex: 1 0 auto;
  padding: 0.5em;
  flex-wrap: nowrap;
}
